{% extends "base.html" %}
{% load humanize %}
{% block body %}
    <h1>{{ watchlist.name }}</h1>
    <p><a href="{% url 'watchlists:list' %}">&lt; All watch lists</a> |
    <a href="{% url 'watchlists:update' pk=watchlist.pk %}">Update</a> | <a href="{% url 'watchlists:delete' pk=watchlist.pk %}">Delete</a></p>
    <table>
        <thead>
            <tr>
                <th>Item</th>
                <th>Desired Price</th>
                <th>Last Price</th>
            </tr>
        </thead>
        <tbody>
            {% for list_item in watchlist.items.all %}
                <tr>
                    <td>{{ list_item.item.type_name }}</td>
                    <td>{{ list_item.desired_price|floatformat:2|intcomma }}</td>
                    <td>{{ list_item.item.prices.all.last.sell|floatformat:2|intcomma }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
