{% extends "base.html" %}
{% block body %}
    <h1>Shopping List Update View</h1>
    <form action="" method="POST">
        {% csrf_token %}
        {{ shoppinglist.character }}
        <br>
        <label for="_name">Name</label>
        <input type="text" id="_name" name="name" value="{{ shoppinglist.name }}">
        <br>
        <label for="_items">Items</label>
        <input type="text" id="_items" name="items">
        <br>
        <button type="submit">Update</button>
    </form>
    <ul>
        {% for item in shoppinglist.items.all %}
            <li>{{ item.type_name }} <a href="{% url 'shoppinglists:item_remove' list_pk=shoppinglist.pk item_pk=item.pk %}">x</a></li>
        {% endfor %}
    </ul>
{% endblock %}
