.coverage
*.DS_Store
*.py[co]

TODO.txt

# Exclude contents of migrations folders with the exception of the __init__.py file
**/migrations/*
!**/migrations/__init__.py

docs/_build/
htmlcov
logs
utils
