{% extends "base.html" %}
{% load humanize %}
{% block body %}
    {% if shoppinglist.name %}
        <h1>{{ shoppinglist.name }}</h1>
    {% else %}
        <strong>Your shopping list has no name, yo</strong>
    {% endif %}
    <p><a href="{% url 'lists:list' %}">&lt; All shopping lists</a> | <a href="{% url 'lists:update' pk=shoppinglist.pk %}">Update list</a> | <a href="{% url 'lists:delete' pk=shoppinglist.pk %}">Delete</a></p>
    <form action="" method="POST">
        {% csrf_token %}
        <label for="_region">Select Region</label>
        <select name="region" id="_region">
            {% for region in regions %}
                <option value="{{ region.region_id }}"{% if region.region_name == 'The Forge' %} selected{% endif %}>{{ region.region_name }}</option>
            {% endfor %}
        </select>
        <br>
        <button type="submit">Update Prices</button>
    </form>
    <table>
        <thead>
            <tr>
                <th>Item</th>
                <th>Last Price</th>
            </tr>
        </thead>
        <tbody>
            {% for item in shoppinglist.items.all %}
                <tr>
                    <td>{{ item.type_name }}</td>
                    <td>{{ item.prices.last.sell|floatformat:2|intcomma }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
