{% extends "base.html" %}
{% block body %}
    <div class="row">
        <h2>{{ watchlist.name }}</h2>
    </div><!-- end row -->
    <div class="row">
        <form action="" method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <label for="_item">Item</label>
                <input type="text" id="_item" name="item">
            </fieldset>
            <fieldset class="form-group">
                <label for="_desired_price">Desired Price</label>
                <input type="text" id="_desired_price" name="desired_price">
            </fieldset>
            <button class="btn btn-secondary" type="submit">Update</button>
        </form>
    </div><!-- end row -->
{% endblock %}
