{% extends "base.html" %}
{% block body %}
    <div class="row">
        <h2>Log in</h2>
    </div><!-- end row -->
    <form action="" method="POST">
        {% csrf_token %}
        <label for="_username">Username</label>
        <input type="text" id="_username" name="username">
        <br>
        <label for="_password">Password</label>
        <input type="password" id="_password" name="password">
        <br>
        <button class="btn btn-default" type="submit">Log in</button>
    </form>
{% endblock %}
