{% extends "base.html" %}
{% load humanize %}
{% block body %}
    <h1>{{ character.name }}'s Orders</h1>
    <p><a href="{% url 'characters:detail' pk=character.pk %}">&lt; {{ character.name }}</a> | <a href="{% url 'characters:orders_update' pk=character.pk %}">Update orders</a></p>
    {% if orders %}
        <table>
            <thead>
                <tr>
                    <th>Item</th>
                    <th>Quantity</th>
                    <th>Qty Threshold</th>
                    <th>Price</th>
                    <th>Location</th>
                    <th>Expires in</th>
                </tr>
            </thead>
            <tbody>
                {% for order in orders %}
                    <tr>
                        <td>
                            {{ order.type_name }}
                        </td>
                        <td>
                            {{ order.vol_remaining }}/{{ order.vol_entered|intcomma }}
                        </td>
                        <td>
                            {% if order.qty_threshold %}{{ order.qty_threshold }}{% else %}-{% endif %}
                        </td>
                        <td>
                            {{ order.price|floatformat:2|intcomma }}
                        </td>
                        <td>
                            {{ order.station.station_name }}
                        </td>
                        <td>
                            {{ order.expires_in }}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No orders to display.</p>
    {% endif %}
{% endblock %}
