{% extends "base.html" %}
{% block body %}
    <h1>Create Shopping List</h1>
    <form action="" method="POST">
        {% csrf_token %}
        <label for="_character">Choose Character</label>
        <select name="character" id="_character">
            {% for character in characters %}
                <option value="{{ character.name }}">{{ character.name }}</option>
            {% endfor %}
        </select>
        <br>
        <label for="_name">Name</label>
        <input type="text" id="_name" name="name">
        <br>
        <label for="_items">Items</label>
        <input type="text" id="_items" name="items">
        <br>
        <button type="submit">Create</button>
    </form>
{% endblock %}
