[run]
branch = true

[report]
exclude_lines =
    def __unicode__
    except IntegrityError

omit =
    */data/*
    */manage*
    */migrations/*
    */monitoring/*
    */tests/*
    */auth_views*
    */wsgi*

[html]
directory = coverage_html_report
