header {
    height: 30px;
}

th {
    text-align: left;
}
.nav-list {
    display: inline-block;
    margin-top: 0;
}

.nav-list>li {
    display: inline-block;
}
.float-left {
    float: left;
}
.float-right {
    float: right;
}
